div{
    font-size: large;
    font-weight: bold;
    height: 100px;
    /* width: 500px; */
    background-color: red;
    /* border-width: 3px;
    border-style: double;
    border-color: black; */
    border: 3px double black;
    
}
h1{
    margin-top: 50px;
    text-align: center;
    /* width: 130px; */
    background-color:aqua;
    border-width:3px;
    border-style: solid;
    border-color: black;
}
button{
    background-color: aquamarine;
    border: 3px double red;
    border-radius: 5px;
}